.body {
    max-width: 100%;
    margin: auto;
}
.gene{
    padding: 0rem 26rem 0rem 26rem;
}
.gene p{
    font-size: 1.4rem;
}
.twosection{
    padding: 0rem 26rem 0rem 26rem;
}
.actu , .actu2{
    width: 60%;
    margin: auto;
    margin-top: 1rem;
    margin-right: 5.6rem;
}
.cajageneral{
    width: 70%;
    margin: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.moneda, .moneda2{
    text-align: center;
    margin-right: 3.5rem;
}
.cajamoneda, .cajamoneda2{
    width: 40%;
}
.backgrouds{
    height: 70rem;
}
.left, .right, .left2, .right2, .left3,.right3{
    text-align: left;
}
/*INICIO DEL SEGUNDO SECTION*/
.section2{
    height: 55rem;
}
.section2_caja_contenidos{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.section2_cards{
    width: 45%;
    height: auto;
    margin: auto;
    margin: 1rem;
}
.clock, .eye, .dollar-sign, .check-circle{
    margin-right: 30rem;
}

/*INICIO DEL TERCER SECTION*/
.section_planes{
    margin: 1rem 0rem;
}
.section_planes_titulo h2{
    padding-top: 7rem;
}
.caja_general_section_planes{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
}
.plans__section_plans{
    width: 30%;
    margin: auto;
}
.plans__container__card{
    width: 80%;
}
.section3{
    height: 85rem;
}
.plans__container__precio::before {
    left: 6rem;
    top: 6.5rem;
}
.plans__plan{
    left: 23%;
}

